<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="card-panel lighten-5 z-depth-1">
        <div class="row valign-wrapper">
            <div class="col s2">
                <img src="/img/logoiprodha.jpg" alt="" class="responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <span class="black-text" style="font-size: xx-small;">
                    “2022- Año del trabajo como medio para el desarrollo; de la protección de
                    la biodiversidad y de la recuperación del turismo” </span>
            </div>
        </div>
</body>

</html>